.post-img {
    height: 565px;
    overflow: hidden;
    /* margin-top: 0px; */
    /* opacity: 0.20; */
}

.post-img img {
    width: 100%;
}

.blog-post-content h2 {
    margin-top: 20px;
    text-align: center;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 30px;
}

.blog-post-content p {
    font-size: 18px;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.row {
    display: flex;
}

.more-post {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogpost-meta {
    display: flex;
    justify-content: space-between;
}

.author-info {
    margin: 20px 0px;
}

.social {
    margin: 20px 0px;
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}

.author-info div {
    padding: 4px 0px;
    font-family: var(--font1);
}